@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Define breakpoints for responsive design */
  --breakpoint-xs: 30rem;
  --breakpoint-ms: 42rem;
  --breakpoint-3xl: 110rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* --color-text: #fff; */
  /* --color-primary: #290633;
  --color-secondary: #180425; */
  /* --color-primary: #31083d; */
  /* --color-secondary: #290633; */
  /* --color-dark: #200627;
  --color-bg: #0f0213; */
  /* Font Families */
  --font-commandp: commandp;
  --font-font: font;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mask-radial {
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.fixed-gradient {
  background: linear-gradient(
    -135deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(43, 28, 82, 1) 94%,
    rgba(42, 25, 74, 1) 100%
  );
  background-attachment: fixed;
}

@utility section {
  @apply relative flex xl:flex-row flex-col items-center justify-between mt-[50px] z-[1] lg:px-[5%];
}

/* Main Section Utilities */
@utility main-buttons {
  @apply font-font flex  no-underline rounded-[10px] 2xl:text-4xl xl:text-3xl lg:text-4xl sm:text-3xl text-2xl font-light border-2 border-transparent bg-[length:0%] font-semibold transition-colors;
}

/* About Section Utilities */
@utility about-li {
  @apply flex md:flex-row flex-col justify-center items-center gap-10 rounded-[20px] list-none p-[25px] bg-[linear-gradient(90deg,rgba(165,215,232,0.42)_0%,rgba(255,255,255,0)_100%)] bg-[length:0_100%] bg-no-repeat transition-all duration-[400ms];
}
@utility about-text-div {
  @apply flex flex-col gap-2 justify-center items-center md:items-start;
}
@utility about-h3 {
  @apply text-violet-900 font-semibold 2xl:text-4xl xl:text-3xl lg:text-4xl sm:text-3xl text-2xl;
  /* text-4xl */
}
@utility about-p {
  @apply text-white/60 font-font text-2xl 2xl:text-2xl xl:text-xl lg:text-2xl sm:text-xl text-lg text-center md:text-left;
  /* text-center mb-[52px] xl:h-[30vh] h-fit */
}
@utility project-h3 {
  @apply text-violet-900 font-semibold 2xl:text-3xl xl:text-2xl lg:text-3xl sm:text-2xl text-xl;
  /* text-4xl */
}
@utility project-p {
  @apply text-white/60 font-font 2xl:text-xl xl:text-lg lg:text-xl sm:text-lg text-lg;
  /* text-center mb-[52px] xl:h-[30vh] h-fit */
}
@utility project-link {
  @apply text-white font-bold 2xl:text-xl xl:text-lg lg:text-xl sm:text-lg text-lg hover:text-violet-900 transition-colors duration-300;
  /* text-4xl */
}
@utility about-icon {
  @apply lg:size-25 size-15;
}

.zoom-in {
  animation:
    zoomIn 1s ease-in-out forwards,
    floatingUpDown 2s ease-in-out 1s infinite;
}

.floatingLeftRight {
  animation: floatingLeftRight 1s ease-in-out infinite;
}

.floatingUpDown {
  animation: floatingUpDown 1s ease-in-out infinite;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes floatingLeftRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatingUpDown {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
